{% extends 'base.html.twig' %}

{% block title %}Edit Flat{% endblock %}

{% block body %}
    <h1>Edit Flat</h1>

    {{ include('flat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('flat_index') }}">back to list</a>

    {{ include('flat/_delete_form.html.twig') }}
{% endblock %}
