{% extends 'base.html.twig' %}

{% block title %}Flat index{% endblock %}

{% block body %}
    <h1>Flat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Beds</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flat in flats %}
            <tr>
                <td>{{ flat.id }}</td>
                <td>{{ flat.name }}</td>
                <td>{{ flat.beds }}</td>
                <td>{{ flat.price }}</td>
                <td>
                    <a href="{{ path('flat_show', {'id': flat.id}) }}">show</a>
                    <a href="{{ path('flat_edit', {'id': flat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('flat_new') }}">Create new</a>
{% endblock %}
