{% extends 'base.html.twig' %}

{% block title %}New Flat{% endblock %}

{% block body %}
    <h1>Create new Flat</h1>

    {{ include('flat/_form.html.twig') }}

    <a href="{{ path('flat_index') }}">back to list</a>
{% endblock %}
