{% extends 'base.html.twig' %}

{% block title %}Flat{% endblock %}

{% block body %}
    <h1>Flat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ flat.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ flat.name }}</td>
            </tr>
            <tr>
                <th>Beds</th>
                <td>{{ flat.beds }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ flat.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('flat_index') }}">back to list</a>

    <a href="{{ path('flat_edit', {'id': flat.id}) }}">edit</a>

    {{ include('flat/_delete_form.html.twig') }}
{% endblock %}
